/* App */
.app {
  margin: 20px;
}
.page-title {
  padding: 20px;
}

/* Login Page */
.login-page {
  text-align: center;
  margin: 20px;
}

.login-inputs {
  max-width: 300px;
  margin: auto;
  padding-bottom: 20px;
}

/* Category Page */ 

/* Product Page */
.product-card {
  padding: 10px;
}
.product-thumbnail {
  object-fit: contain;
}